body {
    margin: 0;
    background-color: rgb(1, 0, 39);
    display: flex;
    justify-content: center;
    font-family: Helvetica;
}

.prostokat {
    width: 100%;
    max-width: 400px;
    min-height: 100vh;
    background-image: url("cv-img.png");
    background-size: cover;
    background-position: center;
    text-align: center;
    padding-top: 40px;
}

.avatar {
    height: 90px;
    width: 90px;
    border-radius: 50%;
}

h1 {
    font-size: 21px;
    font-weight: bold;
    color: white;
}

h2 {
    font-size: 14px;
    color: white;
}

button {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 20px;
    background-color: rgba(83, 221, 255, 0.707);
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: rgb(188, 188, 188);
}

i{
    color: rgba(83, 221, 255, 0.707);
    font-size: 30px;
}